* { margin: 0; padding: 0; box-sizing: border-box; font-family: sans-serif; }
body { width: 100%; min-height: 100vh; display: flex; justify-content: center; align-items: center; background-color: #d9a6a6; overflow: hidden; }
.container { display: flex; flex-direction: column; text-align: center; align-items: center; gap: 20px; max-width: 500px; margin: 20px; }
.gif-container img { max-width: 250px; border-radius: 10px; }
.container .btn { display: flex; gap: 25px; }
.btn a { text-decoration: none; color: #111; background: #fff; padding: 10px 25px; border-radius: 66px; box-shadow: 0.5rem 1rem 3rem rgba(0,0,0,0.3); transition: 0.2s; }
#move-random { position: relative; }
